<div class="wrapper">
  <div class="card">
    <h1>Typing Game</h1>
    <span (click)="reload()" class="reload">
      <img src="assets/refresh.png" />
    </span>
    <p class="random-text">
      <span [class]="getClass(letter, enteredText[i])"
        *ngFor="let letter of randomText.split(''); let i = index;">{{letter}}</span>
    </p>

    <div>
      <input class="form-control" (input)="handleInputChange($event.target.value)" type="text" />
    </div>

    <div class="success-msg" *ngIf="randomText === enteredText">
      <h1>Success</h1>
      <ul>
        <li>Accuracy: {{calculateAccuracy() | number:'1.0-0'}}%</li>
      </ul>
    </div>

    <div class="success-msg" *ngIf="randomText !== enteredText && randomText.length <= enteredText.length">
      <h1>Result</h1>
      <p>Accuracy: {{calculateAccuracy() | number:'1.2-2'}}%</p>
      <div>
        <span>(Correct, Typed) --> </span><span *ngFor="let wrong of wrongLetters">({{wrong.correct}}, {{wrong.typed}})</span>
      </div>
    </div>
  </div>
</div>